body {
    background-color: #F5F5F5; 
}

header {
    background-color: #2196F3; 
    color: #FFF; 
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 0px;
}

.hero {
    background-image: url('hero-image.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px 0;
    color: #4CAF50;
}

.hero p {
    font-size: 32px;
    max-width: 1000px;
    margin: 0 auto;
}

.hero .btn {
    background-color: #4CAF50; 
    color: #ffffff;
    padding: 2px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.hero .btn:hover {
    background-color: #45a049; 
}

.areas {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.area {
    flex: 1 0 100px; 
    margin: 5px;
    text-align: center;
}

.area img {
    width: 200px;
    height: 150px;
    margin-bottom: 15px;
}

.area h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.area ul {
    list-style: none;
    padding: 0;
}

.area li {
    margin-bottom: 5px;
}

.chamada {
    background-color: #2196F3; 
    color: #FFF;
    padding: 20px 0;
    text-align: center;
}

.chamada h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.chamada .btn {
    background-color: #4CAF50; 
    color: #FFF;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chamada .btn:hover {
    background-color: #45a049;
}

.redes-sociais {
    padding: 20px;
    text-align: center;
}

.redes-sociais ul {
    list-style: none;
    padding: 0;
}

.redes-sociais li {
    display: inline-block;
    margin: 0 10px;
}

.redes-sociais a {
    color: #2196F3; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.redes-sociais a:hover {
    color: #4CAF50; 
}

footer {
    background-color: #2196F3; 
    color: #FFF;
    text-align: center;
    padding: 10px 0;
}
.piupiu {
    font-size: 1000px;
    margin: 0 auto;
    text-align: center;
    color:#000000;
}

.btn2{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #111211;
    background-color: #0e65c9;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn2:hover{
    background-color: #062a97;
}


.btn3{
    background-color: #0e65c9; 
    color: #fff;
    border-radius: 100px;
    padding: 1px 5px;
    font-size: 18px;
}

.btn3:hover{
      color: #02ff0a;
}


.ri-facebook-circle-line{
    font-size: 1.7rem;
}


.ri-instagram-line{
    font-size: 1.7rem;
}

.ri-twitter-line{
    font-size: 1.7rem;
}